<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI11_UITableView编辑(cell的删除 插入 移动).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4994C9B01C2CD3D500CAAFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4994C9C91C2CD3D500CAAFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4994C9D41C2CD3D500CAAFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
