<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI11_UITableView多分区.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4994C9F51C2D1B3200CAAFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4994CA0E1C2D1B3200CAAFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4994CA191C2D1B3200CAAFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
