<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI01_UILabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49EED8D91C1AF96700649BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EED8EC1C1AF96800649BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EED8F71C1AF96800649BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
