<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI23_豆瓣电影界面.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49FF2DD41C4666CD00BD9433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FF2DED1C4666CE00BD9433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FF2DF81C4666CF00BD9433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
