<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI_UIControl_UISwitch_UISlider_UISegmentControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49143E8D1C279F0E0016215E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49143EA61C279F0E0016215E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49143EB11C279F0E0016215E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
